<a href="https://colab.research.google.com/github/greapis/Python_practice/blob/main/Python_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## "Whiel loop"
= execute come code WHILE some condition remains true **굵은 텍스트**

In [ ]:
while name =="":
  print("You did not enter your name")
  name  = input("Enter your name: ")

print(f"Hello {name}")

Hello Jaeh

In [ ]:
while name =="":
  print("You did not enter your name")

print(f"Hello {name}")

Hello Jaeh

In [ ]:
name = input("Enter your name: ")

if name == "":
  print("You did not enter your name")
else:
  print(f"Hello {name}")

Enter your name: shim
Hello shim

In [ ]:
age = int(input("Enter your age: "))

while age < 0:
  print("Age cannot be negative")
  age = int(input("Enter your age: "))

print(f"You are {age} years old")

Enter your age: -8
Age cannot be negative
Enter your age: -7
Age cannot be negative
Enter your age: -1000000
Age cannot be negative
Enter your age: 23
You are 23 years old

In [ ]:
food = input("Enter a food you like (q to quit): ")

while not food == "q":
  print(f"You like {food}")
  food = input("Enter another food you like (q to quit): ")

print("Bye")

Enter a food you like (q to quit): pizza
You like pizza
Enter another food you like (q to quit): hambergur
You like hambergur
Enter another food you like (q to quit): sushi
You like sushi
Enter another food you like (q to quit): q
Bye

In [ ]:
num = int(input("Enter a # between 1 -10: "))

while num <1 or num >10:
  print(f"{num} is not valid")
  num = int(input("Enter a # between 1 -10: "))

print(f"Your number is {num}")

Enter a # between 1 -10: 0
0 is not valid
Enter a # between 1 -10: -10
-10 is not valid
Enter a # between 1 -10: 5
Your number is 5

# Function
 = A block of reusable code
   place () after the fucntion name to invoke it **굵은 텍스트**

In [ ]:
print("Happy birthday to you!")
print("You are old!")
print("Happy birthday to you!")
print()

print("Happy birthday to you!")
print("You are old!")
print("Happy birthday to you!")
print()

print("Happy birthday to you!")
print("You are old!")
print("Happy birthday to you!")
print()

Happy birthday to you!
You are old!
Happy birthday to you!

Happy birthday to you!
You are old!
Happy birthday to you!

Happy birthday to you!
You are old!
Happy birthday to you!

In [ ]:
def happy_birthday():

  print("Happy birthday to you!")
  print("You are old!")
  print("Happy birthday to you!")
  print()


happy_birthday()

Happy birthday to you!
You are old!
Happy birthday to you!

In [ ]:
happy_birthday()
happy_birthday()
happy_birthday()

Happy birthday to you!
You are old!
Happy birthday to you!

Happy birthday to you!
You are old!
Happy birthday to you!

Happy birthday to you!
You are old!
Happy birthday to you!

In [ ]:
def happy_birthday(name):

  print(f"Happy birthday to {name}!")
  print("You are old!")
  print("Happy birthday to you!")
  print()


happy_birthday("Bro")
happy_birthday("Steve")
happy_birthday("Joe")

Happy birthday to Bro!
You are old!
Happy birthday to you!

Happy birthday to Steve!
You are old!
Happy birthday to you!

Happy birthday to Joe!
You are old!
Happy birthday to you!

In [ ]:
def happy_birthday(name, age):

  print(f"Happy birthday to {name}!")
  print(f"You are {age} years old!")
  print("Happy birthday to you!")
  print()


happy_birthday("Bro", 20)
happy_birthday("Steve", 35)
happy_birthday("Joe", 100)

Happy birthday to Bro!
You are 20 years old!
Happy birthday to you!

Happy birthday to Steve!
You are 35 years old!
Happy birthday to you!

Happy birthday to Joe!
You are 100 years old!
Happy birthday to you!

In [ ]:
def happy_birthday(age, name):

  print(f"Happy birthday to {name}!")
  print(f"You are {age} years old!")
  print("Happy birthday to you!")
  print()


happy_birthday("Bro", 20)
happy_birthday("Steve", 35)
happy_birthday("Joe", 100)

Happy birthday to 20!
You are Bro years old!
Happy birthday to you!

Happy birthday to 35!
You are Steve years old!
Happy birthday to you!

Happy birthday to 100!
You are Joe years old!
Happy birthday to you!

In [ ]:
def happy_birthday(x, y):

  print(f"Happy birthday to {x}!")
  print(f"You are {y} years old!")
  print("Happy birthday to you!")
  print()


happy_birthday("Bro", 20)
happy_birthday("Steve", 35)
happy_birthday("Joe", 100)

Happy birthday to Bro!
You are 20 years old!
Happy birthday to you!

Happy birthday to Steve!
You are 35 years old!
Happy birthday to you!

Happy birthday to Joe!
You are 100 years old!
Happy birthday to you!

In [ ]:
def display_invoice(username, amount, due_date):
  print(f"Hello {username}")
  print(f"Your bill of {amount:.2f} is due: {due_date}")

display_invoice("Brocode", 42.50, "01/01")

Hello Brocode
Your bill of 42.50 is due: 01/01

# return

= statement used to end a function
  and send a result back to the caller **굵은 텍스트**

In [ ]:
def add(x, y):
  z = x + y
  return(z)

def subtract(x, y):
  z = x - y
  return(z)

def multiply(x, y):
  z = x * y
  return(z)

def divide(x, y):
  z = x / y
  return(z)

print(add(1,2))
print(subtract(1,2))
print(multiply(1,2))
print(divide(1,2))

3
-1
2
0.5

In [ ]:
def create_name(first, last):
  first = first.capitalize()
  last = last.capitalize()
  return first + "" + last

full_name = create_name("bro", "code")

print(full_name)

BroCode

**for loops ** = execute a block of code a fixed number of times.

           **        You can iterate over a range, string, sequence, etc.**

In [ ]:
for x in range(1, 11):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in reversed(range(1, 11)):
  print(x)

print("HAPPY NEW YEAR!")

10
9
8
7
6
5
4
3
2
1
HAPPY NEW YEAR!

In [ ]:
for x in range(1, 11, 2):
  print(x)

1
3
5
7
9

In [ ]:
for x in range(1, 11, 3):
  print(x)

1
4
7
10

In [ ]:
credit_card = "1234-5678-9012-3456"

for x in credit_card:
  print(x)

1
2
3
4
-
5
6
7
8
-
9
0
1
2
-
3
4
5
6

In [ ]:
for x in range(1, 21):
  if x == 13:
    continue
  else:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20

In [ ]:
for x in range(1, 21):
  if x == 13:
    break
  else:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12

## **IF = Do some code only IF some condition is True**
#          **Else do something else**

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
  print("You are now signed up!")

Enter your age: 5

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
  print("You are now signed up!")
else:
  print("You must be 18+ to sign up!")

Enter your age: 5
You must be 18+ to sign up!

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
  print("You are now signed up!")
elif age <0:
  print("You haven't been born yet")
else:
  print("You must be 18+ to sign up!")

Enter your age: -2
You haven't been born yet

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
  print("You are now signed up!")
elif age <0:
  print("You haven't been born yet")
elif age >=100:
  print("You are too old to sign up")
else:
  print("You must be 18+ to sign up!")

Enter your age: 101
You are now signed up!

In [ ]:
age = int(input("Enter your age: "))

if age >=100:
  print("You are too old to sign up")
elif age >= 18:
  print("You are now signed up!")
elif age <0:
  print("You haven't been born yet")
else:
  print("You must be 18+ to sign up!")

Enter your age: 120
You are too old to sign up

In [ ]:
response = input("Would you like food? (Y/N):")

if response == "Y":
  print("Have some food!")

Would you like food? (Y/N):Y
Have some food!

In [ ]:
response = input("Would you like food? (Y/N):")

if response == "Y":
  print("Have some food!")
else:
  print("No food for you!")

Would you like food? (Y/N):n
No food for you!

In [ ]:
name = input("Enter your name: ")

if name == "":
  print("You did not type in your name!")
else:
  print(f"Hello {name}")

Enter your name:
You did not type in your name!

In [ ]:
for_sale = True

if for_sale:
  print("This item is for sale!")
else:
  print("This item is NOT for sale")

This item is for sale!

In [ ]:
for_sale = False

if for_sale:
  print("This item is for sale!")
else:
  print("This item is NOT for sale")

This item is NOT for sale

exception = An event that interrupts teh flow of a program
            (ZeroDivisionError, TypeError, ValueError)
            1.try,  2.except,  3.finally

In [ ]:
int("pizza")

ValueError: invalid literal for int() with base 10: 'pizza'

In [ ]:
try:
  # Try some code
except Exception:
  # Handle an ExceptHandler
finally:
  # Do some clean up

IndentationError: expected an indented block after 'try' statement on line 1 (<ipython-input-3-b437b98098c8>, line 3)

In [ ]:
number = int(input("Enter a number: "))
print(1 / number)

Enter a number: 0

ZeroDivisionError: division by zero

In [ ]:
number = int(input("Enter a number: "))
print(1 / number)

Enter a number: pizza

ValueError: invalid literal for int() with base 10: 'pizza'

In [ ]:
try:
  number = int(input("Enter a number:"))
  print(1 / number)
except ZeroDivisionError:
  print("You can't divide by zero IDIOT!")

Enter a number:0
You can't divide by zero IDIOT!

In [ ]:
try:
  number = int(input("Enter a number: "))
  print(1 / number)
except ZeroDivisionError:
  print("You can't divide by zero Idiot!!")
except ValueError:
  print("Enter only number please")

Enter a number: pizza
Enter only number please

In [ ]:
try:
  number = int(input("Enter a number: "))
  print(1 / number)
except ZeroDivisionError:
  print("You can't divide by zero IDIOT!!")
except ValueError:
  print("Enter only numbers please")
except Exception:
  print("Something went wrong!!!")

Enter a number: 0
You can't divide by zero IDIOT!!

In [ ]:
try:
  number = int(input("Enter a number: "))
  print(1 / number)
except ZeroDivisionError:
  print("You can't divide by zero IDIOT!!")
except ValueError:
  print("Enter only numbers please")
except Exception:
  print("Something went wrong!!!")
finally:
  print('Do some clean up here')

Enter a number: 4
0.25
Do some clean up here

# **Decorder = A function that extends the behavior of another function **
               w/o modifying the base function
               Pass the base function as an argument to be decorder

In [3]:
def get_ice_cream():
  print("Here is your ice cream")

get_ice_cream()

Here is your ice cream

In [7]:
def add_sprinkles(func):
  def wrapper():
    print("Adding sprinkles")
    func()
  return wrapper

@add_sprinkles
def get_ice_cream():
  print("Here is your ice cream")

get_ice_cream()

Adding sprinkles
Here is your ice cream

In [11]:
def add_sprinkles(func):
  def wrapper():
    print("Adding sprinkles")
    func()
  return wrapper

def add_fudge(func):
  def wrapper():
    print("You add fudge!!")
    func()
  return wrapper

@add_sprinkles
@add_fudge
def get_ice_cream():
  print("Here is your ice cream")

get_ice_cream()

@add_sprinkles
def get_ice_cream():
  print("Here is your ice cream")

get_ice_cream()

Adding sprinkles
You add fudge!!
Here is your ice cream
Adding sprinkles
Here is your ice cream