<a href="https://colab.research.google.com/github/greapis/Python_practice/blob/main/Python_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## "Whiel loop"
= execute come code WHILE some condition remains true **굵은 텍스트**

In [ ]:
while name =="":
  print("You did not enter your name")
  name  = input("Enter your name: ")

print(f"Hello {name}")

Hello Jaeh

In [ ]:
while name =="":
  print("You did not enter your name")

print(f"Hello {name}")

Hello Jaeh

In [ ]:
name = input("Enter your name: ")

if name == "":
  print("You did not enter your name")
else:
  print(f"Hello {name}")

Enter your name: shim
Hello shim

In [ ]:
age = int(input("Enter your age: "))

while age < 0:
  print("Age cannot be negative")
  age = int(input("Enter your age: "))

print(f"You are {age} years old")

Enter your age: -8
Age cannot be negative
Enter your age: -7
Age cannot be negative
Enter your age: -1000000
Age cannot be negative
Enter your age: 23
You are 23 years old

In [ ]:
food = input("Enter a food you like (q to quit): ")

while not food == "q":
  print(f"You like {food}")
  food = input("Enter another food you like (q to quit): ")

print("Bye")

Enter a food you like (q to quit): pizza
You like pizza
Enter another food you like (q to quit): hambergur
You like hambergur
Enter another food you like (q to quit): sushi
You like sushi
Enter another food you like (q to quit): q
Bye

In [ ]:
num = int(input("Enter a # between 1 -10: "))

while num <1 or num >10:
  print(f"{num} is not valid")
  num = int(input("Enter a # between 1 -10: "))

print(f"Your number is {num}")

Enter a # between 1 -10: 0
0 is not valid
Enter a # between 1 -10: -10
-10 is not valid
Enter a # between 1 -10: 5
Your number is 5

# Function
 = A block of reusable code
   place () after the fucntion name to invoke it **굵은 텍스트**

In [ ]:
print("Happy birthday to you!")
print("You are old!")
print("Happy birthday to you!")
print()

print("Happy birthday to you!")
print("You are old!")
print("Happy birthday to you!")
print()

print("Happy birthday to you!")
print("You are old!")
print("Happy birthday to you!")
print()

Happy birthday to you!
You are old!
Happy birthday to you!

Happy birthday to you!
You are old!
Happy birthday to you!

Happy birthday to you!
You are old!
Happy birthday to you!

In [ ]:
def happy_birthday():

  print("Happy birthday to you!")
  print("You are old!")
  print("Happy birthday to you!")
  print()


happy_birthday()

Happy birthday to you!
You are old!
Happy birthday to you!

In [ ]:
happy_birthday()
happy_birthday()
happy_birthday()

Happy birthday to you!
You are old!
Happy birthday to you!

Happy birthday to you!
You are old!
Happy birthday to you!

Happy birthday to you!
You are old!
Happy birthday to you!

In [ ]:
def happy_birthday(name):

  print(f"Happy birthday to {name}!")
  print("You are old!")
  print("Happy birthday to you!")
  print()


happy_birthday("Bro")
happy_birthday("Steve")
happy_birthday("Joe")

Happy birthday to Bro!
You are old!
Happy birthday to you!

Happy birthday to Steve!
You are old!
Happy birthday to you!

Happy birthday to Joe!
You are old!
Happy birthday to you!

In [ ]:
def happy_birthday(name, age):

  print(f"Happy birthday to {name}!")
  print(f"You are {age} years old!")
  print("Happy birthday to you!")
  print()


happy_birthday("Bro", 20)
happy_birthday("Steve", 35)
happy_birthday("Joe", 100)

Happy birthday to Bro!
You are 20 years old!
Happy birthday to you!

Happy birthday to Steve!
You are 35 years old!
Happy birthday to you!

Happy birthday to Joe!
You are 100 years old!
Happy birthday to you!

In [ ]:
def happy_birthday(age, name):

  print(f"Happy birthday to {name}!")
  print(f"You are {age} years old!")
  print("Happy birthday to you!")
  print()


happy_birthday("Bro", 20)
happy_birthday("Steve", 35)
happy_birthday("Joe", 100)

Happy birthday to 20!
You are Bro years old!
Happy birthday to you!

Happy birthday to 35!
You are Steve years old!
Happy birthday to you!

Happy birthday to 100!
You are Joe years old!
Happy birthday to you!

In [ ]:
def happy_birthday(x, y):

  print(f"Happy birthday to {x}!")
  print(f"You are {y} years old!")
  print("Happy birthday to you!")
  print()


happy_birthday("Bro", 20)
happy_birthday("Steve", 35)
happy_birthday("Joe", 100)

Happy birthday to Bro!
You are 20 years old!
Happy birthday to you!

Happy birthday to Steve!
You are 35 years old!
Happy birthday to you!

Happy birthday to Joe!
You are 100 years old!
Happy birthday to you!

In [ ]:
def display_invoice(username, amount, due_date):
  print(f"Hello {username}")
  print(f"Your bill of {amount:.2f} is due: {due_date}")

display_invoice("Brocode", 42.50, "01/01")

Hello Brocode
Your bill of 42.50 is due: 01/01

# return

= statement used to end a function
  and send a result back to the caller **굵은 텍스트**

In [ ]:
def add(x, y):
  z = x + y
  return(z)

def subtract(x, y):
  z = x - y
  return(z)

def multiply(x, y):
  z = x * y
  return(z)

def divide(x, y):
  z = x / y
  return(z)

print(add(1,2))
print(subtract(1,2))
print(multiply(1,2))
print(divide(1,2))

3
-1
2
0.5

In [ ]:
def create_name(first, last):
  first = first.capitalize()
  last = last.capitalize()
  return first + "" + last

full_name = create_name("bro", "code")

print(full_name)

BroCode

**for loops ** = execute a block of code a fixed number of times.

           **        You can iterate over a range, string, sequence, etc.**

In [1]:
for x in range(1, 11):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [3]:
for x in reversed(range(1, 11)):
  print(x)

print("HAPPY NEW YEAR!")

10
9
8
7
6
5
4
3
2
1
HAPPY NEW YEAR!

In [4]:
for x in range(1, 11, 2):
  print(x)

1
3
5
7
9

In [5]:
for x in range(1, 11, 3):
  print(x)

1
4
7
10

In [6]:
credit_card = "1234-5678-9012-3456"

for x in credit_card:
  print(x)

1
2
3
4
-
5
6
7
8
-
9
0
1
2
-
3
4
5
6

In [7]:
for x in range(1, 21):
  if x == 13:
    continue
  else:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
14
15
16
17
18
19
20

In [8]:
for x in range(1, 21):
  if x == 13:
    break
  else:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12