<a href="https://colab.research.google.com/github/greapis/Python_practice/blob/main/Tensorflow_AI_LS_CIFAR_10(CNN).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CIFAR-10 Datasets은 제공됨
 - MNIST : from tensorflow.keras.datasets import mnist
 - CIFAR-10 Datasets 역시 keras에서 기본적으로 제공

In [3]:
# Road library

import tensorflow as tf
from tensorflow.keras.datasets import cifar10
  #  keras에서 Datasets 제공

from tensorflow.keras import layers, models
from tensorflow.keras.utils import to_categorical
  # using "One-Hot Encoding"

import numpy as np
from PIL import Image

Data 전처리
 - X : 정규화(MNIST와 동일)

     각 픽셀은 0과 255 사이의 정수값으로 설정됨
     해당 값들을 0과 1로 정규화하는 것이 필요

 - Y : Label Encoding : One-Hot Encoding
     각 클래스를 독립적인 카테고리로 인식하기 위함
         airplaine  = [1,0,0,0,0,0,0,0,0,0]
         automobile = [0,1,0,0,0,0,0,0,0,0]

In [ ]:
# Data 전처리